 <div class="forms">
<h1>Tus documentos se cargaron correntamente, ya puedes solicitar convertite a premim</h1>
    <div class="carteles">
        <button id="btnGetPremium" data-user-id="{{userId}}">QUIERO SER USUARIO PREMIUM</button>
    </div>
 </div>
     
 
 <script src="/js/btnConvertPremium.js"></script> 