<div class="forms">
<p class="carteles">Los archivos deben ser en formato PDF y no tener separaciones en su nombre,
    solo puede estar separado por guiónes o bien por letras mayúsculas
</p>

<form id="formPremiumDocuments" class="forms" enctype="multipart/form-data" >
    <h1>Debes cargar los siguiente documentos para  ser usuario premium:</h1>
    <p>1- Documento de identidad/Identificación: </p>
     <input type="file"  name="identificacion" required>
    <p>2- Comprobante de domicilio: </p>
     <input type="file"  name="comprobanteDomicilio" required>
     <p>3- Comprobante de estado de cuenta: </p>
     <input type="file"  name="comprobanteEstadoCuenta" required>
    <input type="submit" value="Enviar" class="btnNewProduct" required>
</form>
</div>



<script src="/js/premiumDocuments.js" ></script>