


<nav class="navContainer">
    <ul class="nav-ul">
        <li><a href="" class="nav-item">HOME</a></li>
         <li><a href="" class="nav-item">Remeras</a></li>
         <li><a href="" class="nav-item">Pantalones</a></li>
          <li><a href="" class="nav-item" >Abrigos</a></li>
          <li><a href="" class="nav-item" >Accesorios</a></li>
           <li><a href="/cart" class="nav-item" >Cart</a></li>
        <li><a href="/register" class="nav-item">Registrarme!</a></li>
        <li><a href="/login" class="nav-item">Login</a></li>
    </ul>
</nav>