<div class="containerInicio">
    <div class="navInicio">
        <h1>E-commerceCoderBack</h1>
        <h3><a href="/register" class="navInicioItem">Registrarme</a></h3>
        <h3><a href="/login" class="navInicioItem">Ya estoy registrado</a></h3>
    </div>

</div>

    <div class="containerInicioImg">
    <img src="https://i.pinimg.com/564x/d8/01/f4/d801f4ca9d7a64657f4abddc8321dab9.jpg" class="inicioImg" alt="Imagen de inicio">
    <img src="https://i.pinimg.com/564x/d8/01/f4/d801f4ca9d7a64657f4abddc8321dab9.jpg" class="inicioImg" alt="Imagen de inicio">
     <img src="https://i.pinimg.com/564x/d8/01/f4/d801f4ca9d7a64657f4abddc8321dab9.jpg" class="inicioImg" alt="Imagen de inicio">
    </div>