<div>
    <h1>Logueate:</h1>
    <form id="loginForm" class="form-clsss">
     
        <label for="">Email:</label>
        <input type="text" name="email">
       
        <label for="">Password:</label> 
        <input type="text" name="password">
       
        <input type="submit" value="Entrar">
    </form>
</div>
<h3><a href="/restorepassword">'¿Olvidaste tu contraseña? </a></h3>
<h3><a href="/api/session/github">Ingresar con cuenta de GitHub</a></h3>
<script src="/js/login.js"></script>