<div id="containerNewProduct" class="containerNewProduct">
    <h1>Nuevo producto</h1>

<form id="formNewProduct" class="formNewProduct">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Description" name="description">
    <input type="number" placeholder="Price: $" name="price" min="1">
    <select id="category" name="category">
        <option value="remeras">Remeras</option>
        <option value="pantalones">Pantalones</option>
        <option value="abrigos">Abrigos</option>
        <option value="accesorios">Accesorios</option>
    </select>
    <input type="text" placeholder="Code" name="code">
    <input type="text" placeholder="Imagn link" name="img">
    <input type="number" placeholder="Stock" name="stock" min="1">
    <input type="submit" value="Cargar nuevo producto" class="btnNewProduct">
</form>


</div>


<script src="/js/newProduct.js" ></script>