<div id="containerNewProduct" class="containerNewProduct">
    <h1>Nuevo producto</h1>

<form id="formNewProduct" class="formNewProduct">
    <input type="text" placeholder="Title" value="title">
    <input type="text" placeholder="description" value="description">
    <input type="number" placeholder="Price: $" value="price">
    <input type="text" placeholder="Code" value="code">
    <input type="text" placeholder="Imagn link" value="img">
    <input type="number" placeholder="Stock" value="stock">
    <input type="submit" value="Cargar nuevo producto" class="btnNewProduct">
</form>


</div>


<script src="/js/newProduct.js" ></script>