
<div>
    <ul class="profileNav">
    <li><a href="http://localhost:8080/products/newproduct">Cargar nuevo producto</a></li>
    <li><a href="http://localhost:8080/products//premiumProducts">Mis productos</a></li>
    <li>Mis datos</li>
    <li>Carrar sesión</li>
    </ul>
</div>