
<div>
    <ul class="profileNav">
    <li><a href="https://entragas-back-codeh.onrender.com/products/newproduct">Cargar nuevo producto</a></li>
    <li><a href="https://entragas-back-codeh.onrender.com/premiumProducts">Mis productos</a></li>
    <li><a href="/userData">Mis datos</a></li>
  
    </ul>
</div>