
<div>
    <ul class="profileNav">
    <li><a href="http://localhost:8080/products/newproduct">Cargar nuevo producto</a></li>
    <li><a href="http://localhost:8080/products//premiumProducts">Mis productos</a></li>
    <li><a href="/userData">Mis datos</a></li>
  
    </ul>
</div>