
<div class="inicio-container" >


<div class="containerFormRegister">
    
    <h1>
        Regístrate!
    </h1>
    <form id="registerForm" class="form-clsss">
        <input type="text" name="first_name" placeholder="First name" required>
       
        <input type="text" name="last_name" placeholder="Last Name" required> 
       
        <input type="text" name="email" placeholder="email@..." required>
        <input type="text" name="password" placeholder="password" required>
        <input type="submit" value="Registrar">
           
    </form>
        <span id="aletErrorRegister" class="aletErrorRegister"></span>
     <a href="/login"  class="btn-redirect-login">Ya estoy registrado!</a>
</div>

    
</div>




<script src="/js/register.js" ></script>