<h1>Restore Request</h1>

<div>
    <h2>Correo con el que te registraste en la App.</h2>
    <p>Te enviaremos el link de restauración de contraseña a tu correo:</p>
    <form id="roestorePswForm">
        <input type="text" placeholder="correo@gmail.com" name="email" required>
        <input type="submit">
    </form>
    <p id="message" style="color:yellow;"></p>
</div>

<script src="/js/restoreRequest.js"></script>