/*body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;   
    margin: 30px;
    background-image: url("https://i.pinimg.com/564x/a3/01/97/a30197d3ada481ecd1776103250ddebb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-clsss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgba(252, 241, 241, 0.403);
    padding: 20px;
 
}
.form-clsss input{
    padding: 5px;
    margin: 5px;
}

.link-style{
    color: black;
    text-decoration: none;
}
.link-style:hover{
    background-color:  rgba(252, 241, 241, 0.403);
   border-radius: 6px;
}

.spamUserNotFound{
    color: red;
    font-size: larger;
    background-color:  rgba(239, 235, 235, 0.745);
    padding: 3px;
    margin: 3px;
}