.containerNewProduct{
    padding: 10px;
}
.formNewProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;   
    background-image: url("https://i.pinimg.com/564x/a3/01/97/a30197d3ada481ecd1776103250ddebb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*
.formNewProduct input{
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}*/
.formNewProduct * {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    font-size:large;
 
}
/*
.btnNewProduct{
    text-decoration: none;
    font-size: larger;

    padding: 7px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid black;
}*/
.btnNewProduct:hover{
    background-color:  rgba(252, 241, 241, 0.403);
}
