body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-clsss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgba(252, 241, 241, 0.403);
    padding: 20px;
}
.form-clsss input{
    padding: 5px;
    margin: 5px;
}